# node
node_modules
.npmrc

# build outputs
dist
.next/
.open-next/
out/
build
*.tsbuildinfo
next-env.d.ts

# turbo
.turbo

# env
.env
.env.local
.env*.local

# misc
.DS_Store
*.pem
npm-debug.log*

# python
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/

# rust
rust/target/
